{% extends "base.html" %}
{% block title %}LoginApp- Página no encontrada{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-md-5 col-xs-12 caja">
		<h1 id="titulo">Upsss...</h1>
		<h2>¡Página no encontrada!</h2>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<img class="logo-user img-responsive" src="{{ url_for("static", filename = "imagenes/error404.png") }}" />
			</div>

			<div class="col-xs-6">
				<br><br><br>
				<p>¿Escribiste bien la dirección?</p>
			</div>
		</div>
	</div>
</div>
{% endblock page_content%}

<!-- FIN 404 -->