{% extends "base.html" %}
{% block title %}LoginApp- Error en el servidor{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-md-5 col-xs-12 caja">
		<h1 id="titulo">Upsss...</h1>
		<h2>¡Error en el servidor!</h2>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<img class="logo-user img-responsive" src="{{ url_for("static", filename = "imagenes/error500.png") }}" />
			</div>

			<div class="col-xs-6">
				<br><br>
				<p>¿Habrá pasado algo con el servidor?</p>
			</div>
		</div>
	</div>
</div>
{% endblock page_content%}

<!-- FIN 500 -->