{% extends "base.html" %}
{% block title %}
	{{ super() }} Clientes que más gastaron
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12 caja">
		{% if mensaje: %}
			<h4><span class="label label-success">{{ mensaje|safe }}</span></h4>
		{% endif %}
		
		{% if error: %}
			<h4><span class="label label-danger">{{ error }}</span></h4>
		{% endif %}
		
		<h1 class='titulo'>Clientes que <span class="text-danger">más gastaron</span>:</h1>

		<form method="POST" class="form-inline">
		<div class="form-group">
		{{ traer_cmg.csrf_token }}
		
		{{ traer_cmg.buscar(class_="form-control",
						autofocus=true,
						required="",
						placeholder="Ingrese cantidad (ej: 5)",
						pattern="[1-9][0-9]{0,}",
						title="Ingrese 1 o más números",
						size=20,
						maxlength=6) }}

		{{ traer_cmg.submit(class_="btn btn-default",
						value="Traer") }}
		</div>
		</form>

		{% if resultados: %}
		<br>
		<p><i>Mostrando los mayores gastos realizados por cliente</i>:</p>

		<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
			<th>#</th>
			<th>CLIENTES</th>
			<th class="text-danger">PRECIOS</th>	
			</tr>
			{% for linea in resultados: %}
				<tr>
				<th>{{ loop.index }}°</th>
				{% for campo in linea: %}
					{% if loop.index == 2: %}
						<td><b class="text-danger"><span class="letra-chica">$</span> {{ campo }}</b></td>
					{% else: %}
						<td>{{ campo }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		</div>
		
		<br>
			{% if bajar: %}
			<form method="POST" style="display: inline;">
				{{ bajar.csrf_token }}

				{{ bajar.submit(class_="btn btn-lg btn-block btn-danger",
								value="Descargar resultados en formato CSV") }}
			</form>
			{% endif %}
		{% endif %}
		
	</div>
</div>
{% endblock page_content%}

{# FIN #}